html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  min-width: 320px;
}

/* Header Section */
header{
  display: flex;
  -webkit-display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  width: 100%;
  margin: 0px;
  align-items: center;
}
nav,
.headerTextDiv,
.navbarList,
.navbarListItem{
  display: inline-block;
}
.headerTextDiv,
.navbar{
  margin: 0px auto;
}
.mainHeaderText{
  padding: 0px 30px;
}
.navbarList{
  padding: 0px 30px;
}
.navbarListItem{
  padding: 0px 20px;
  cursor: pointer;
  font-size: 2.5vw;
}
.navbarList a{
  color:black;
  text-decoration: none;
}

.navbarList a:link, a:visited{
  color: black;
  text-decoration: none;
}
.navbarList a:hover, a:focus, a:active{
  color: grey;
  text-decoration: none;
}



/* Content Section */
.subHeadDesc{
  text-align: center;
}

/* Grid Layout */
.grid-container {
  width: 80%;
  display: grid;
  margin: auto;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 250px 250px 250px;
  grid-auto-rows: 250px;
  gap: 3% 3%;
  place-items: center;
}

.grid-col-1 {
  grid-column: 1 / 2;
}

.grid-item {
  grid-column: auto;
  height: 200px;
  background-color: #fffbbd;
  border: 1px white solid;
  border-top: none;
  box-shadow: .5px 7px 5px #000;
  margin-top: 2%;
  padding: 2.5%;
}

/* Footer styles */
.content {
  min-height: calc(100vh - 200px);
}
footer {
  display: flex;
  -webkit-display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  max-width: 100%;
  height: 200px;
  color: white;
  background-color: #19191a;
  margin: 0px;
  align-items: center;
}
.footerText,
.associatedLinks,
.meetupLogo{
  display: inline-block;
}
.footerText{
  margin: auto;
  text-align: center;
}
.footerDescText{
  font-size: 20px;
  padding: 0px 30px;
  text-align: center;
}
.associatedLinks{
  margin: auto;
  padding: 0px 30px;
}
.foundedDate{
  font-size: 14px;
  padding: 0px 30px;
}
.linkIcons{
  color: white;
  padding: 0px 5px;
  cursor: pointer;
}
.meetupLogo{
  width: 45px;
}



/* Media Querys  */
@media screen and (max-width: 796px) {
  .footerText{
    width: 100%;
  }
  .footerDescText{
    font-size: 18px;
  }
  .foundedDate{
    font-size: 14px;
  }
}

@media screen and (max-width: 680px){
  .headerTextDiv{
    width: 100%;
    text-align: center;
  }
}


@media screen and (max-width: 638px) {
  .mainHeaderText{
    font-size: 1.8em;
  }
  .navbarListItem{
    font-size: 16px;
  }
  .subHeadDesc{
    font-size: 1.2em;
    width: 80%;
    margin: 40px auto 0px;
  }
  .footerDescText{
    font-size: 14px;
  }
  .foundedDate{
    font-size: 12px;
  }
}


@media screen and (min-width: 639px) {
  .mainHeaderText{
    font-size: 5vw;

  }
}


@media screen and (min-width: 865px){
  .navbarListItem{
    font-size: 25px;
  }
}


@media screen and (min-width: 1000px){
  .mainHeaderText{
    font-size: 50px;
  }
}
